:root {
  --darkBlue: #006BF2;
  --error: #F44336;
  --textGray: #676A6C;
  --deepGray: #666;

  /* Brand Colors */


  /* Neutral Colors */
  --white: #FFF;
  --mist: #FAFAFA;
  --fog: #F5F5F5;
  --typhoon: #EEE;
  --ash: #DDD;
  --silver: #CCC;
  --gray: #999;
  --dim: #555;
  --dark: #333;
  --black: #000;

  /* Opacity gradient colors */
  --black0_8: rgba(0, 0, 0, 0.8);
  --black0_6: rgba(0, 0, 0, 0.6);
  --black0_4: rgba(0, 0, 0, 0.4);
  --black0_2: rgba(0, 0, 0, 0.2);
  --white0_8: rgba(255, 255, 255, 0.8);
  --white0_6: rgba(255, 255, 255, 0.6);
  --white0_4: rgba(255, 255, 255, 0.4);
  --white0_2: rgba(255, 255, 255, 0.2);
}
